
<launch>
  <node name="topic_bridge_image" pkg="topic_bridge" type="image_bridge" output="screen">
    <remap from="/image" to="/cam0/image_raw" />
    <param name="filename" type="string" value="/home/haram/calib_data/" />
  </node>
  <node name="topic_bridge_imu" pkg="topic_bridge" type="imu_bridge" output="screen">
    <remap from="/imu" to="/imu0" />
    <param name="filename" type="string" value="/home/haram/calib_data/" />
  </node>

</launch>
